<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.renyu.androidcommonlibrary">

    <application
        android:name=".ExampleApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.CoroutinesDemoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyX5WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyWebActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.NotificationShowActivity" android:screenOrientation="portrait"/>
        <receiver android:name=".receiver.RemoteInputReceiver" />
        <service android:name=".service.RemoveNotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.X5IntentService"
            android:enabled="true" />
    </application>

</manifest>